@layer base {
  * {
    /* width */
    ::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 4px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  html,
  body {
    @apply scroll-smooth 
      font-body 
      text-gray-700
      bg-white
      dark:text-gray-300
      dark:bg-dark-200;
  }

  h1 {
    @apply text-6xl 
      md:text-7xl;
  }

  h2 {
    @apply text-5xl 
      md:text-6xl;
  }

  h3 {
    @apply text-4xl 
      md:text-5xl;
  }

  h4 {
    @apply text-3xl 
      md:text-4xl;
  }

  h5 {
    @apply text-2xl 
      md:text-3xl;
  }

  h6 {
    @apply text-xl
      md:text-2xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black
      dark:text-white;
  }

  p {
    @apply text-sm 
      md:text-base;
  }
}
